.object {

    background:#333444;
    width:100px;
    height:100px;
}
.van {
   /* position: absolute;*/
    top: 25%;
    left: 4%;
    background:#990099;
}
.moveright:hover {
    transform: translate(50px,0);
    -webkit-transform: translate(50px,0); /** Chrome & Safari **/
    -o-transform: translate(50px,0); /** Opera **/
    -moz-transform: translate(50px,0); /** Firefox **/
}
.objec {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
}
.test {
    background:#11ff00;
    width:100px;
    height:100px;

}
.test2{
    width:100px;
    height:100px;
    background:#ffc0c0;
}
.overdrop{
    width:1200px;
    height:900px;
    position:absolute;
    left:20%;
    background:#ffe0e0;
}
.move{
    display:inline-block;
}